.home {
  @media @mobile {
    padding: 20px;
  }

  background: lightpink;
  max-width: 999px;
  .custom-flex(column, center, center);

  .bottom-header {
    @media @mobile {
      max-width: 100%;
    }
    max-width: 80%;
    p {
      .p-font-style();
      .dotted-border();
      padding: 1%;
    }
  }
  .content-section {
    @media @mobile {
      max-width: 100%;
    }
    margin: 30px 0;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: lightgreen;
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  } // content section

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  } //inverse content

  .content-destination {
    @media @mobile {
      width: 100%;
    }
    width: 80%;
    margin: 0 auto 30px;

    div {
      width: 80%;
      margin: 0 auto;
      h2 {
        align-self: flex-start;
      }
      img {
        border-radius: 10px;
      }
    }
  } // content-destination

  .content-pick {
    @media @mobile {
      width: 100%;
      .custom-flex(column, center, center);

      .destination {
        border: 2px solid red;
      }
    }
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    width: 80%;
    .destination {
      width: 30%;
      margin-bottom: 30px;
      background: greenyellow;
      .btn {
        .custom-btn(teal, 200px, #f5f5f5);
        .font-styles(18px, @roboto);
        text-align: center;
        margin: auto;
        padding: 12px;
      }
    }
  } //content-pick;
} // home
